body {
    background-image: url('rajasaab.png');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 48px;
    color: rgb(234, 250, 7);
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #edf90a;
  }
  
  main {
    text-align: center;
    padding: 50px;
  }
  
  h2 {
    font-size: 36px;
    color: rgb(52, 248, 34);
  }
  
  button {
    padding: 10px 20px;
    background-color: #f7f6f9;
    border: none;
    border-radius: 10px;
    color: #0f0c0c;
    cursor: pointer;
  }
  .first{
    color: rgb(5, 252, 79);
  }
  .second{
    color: rgb(249, 4, 53);
  }
  .third{
    color: rgb(15, 239, 239);
  }
  .logo::before{
    content: "\1F451";
    font-size: 32px;
    color: #f7f6f9;
    position: absolute;
    top: 20px;
    left: 15px;
  }
  .logo h1::first-letter{
    color: rgb(53, 7, 236);
    font-weight: bold;
    font-size: 60px;
  }
  